# User-specific configuration
config.json

# Local TLE Cache
iss_tle.txt

# Stars Catalog
hip_main.dat

# Generated Trajectories
*_Coyote_ISS.json
Coyote_ISS.json

# Python byte-code / cache
__pycache__/
*.pyc
*.pyo
*.pyd
# Ephemeris database
de421.bsp
